.error {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--btn-hover);
    border-radius: 10px;
    width: 100%;
    color: var(--white);
    padding-left: 10px;
    font-size: 1.1rem;
    text-align: center;
}