.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo {
  margin-top: 100px;
  width: 136px;
}
.container {
  max-width: 429px;
  margin: 30px auto;
  margin-top: 30px;
  overflow: auto;
  min-height: 660px;
  border: 3px solid #2c053b;
  padding: 3px;
  border-radius: 16px;
}
.success {
  font-weight: bold;
  color: #2c053b;
  font-size: 28px;
  text-align: center;
  margin-top: 17px;
}
.successIcon {
  color: #ce1051;
}
.share {
  color: white;
  font-size: 14px;
  display: block;
  position: absolute;
  width: 400px;
  height: 45px;
  margin-left: 15px;
  top: 848px;
  background: #ce1051;
  border-radius: 16px;
  cursor: pointer;
  border-style: none;
}

.share:hover {
  background: white;
  color: #ce1051;
  border: solid #ce1051;
}
.shareIcon {
  position: absolute;
  left: 20px;
  font-size: 24px;
  margin-top: 6px;
}

#originData {
  margin-top: 8px;
  margin-left: 15px;
  font-size: 16px;
  position: absolute;
  color: #2c053b;
  font-weight: bold;
}

.originBox {
  background-color: #eeeeee;
  color: #2c053b;
  position: relative;
  top: 38px;
  border: 2px solid #ce1051;
  border-radius: 16px;
  margin-left: 15px;
  margin-right: 15px;
  height: 200px;
}

#originName {
  font-size: 14px;
  margin-left: 15px;
  margin-top: 5px;
}

#originId {
  font-size: 14px;
  margin-left: 15px;
  margin-top: 30px;
}

#originAgency {
  font-size: 14px;
  margin-left: 15px;
  margin-top: 30px;
}

#originAccount {
  font-size: 14px;
  margin-left: 210px;
  margin-top: -32px;
  position: absolute;
}

#originValue {
  font-size: 14px;
  margin-left: 15px;
  margin-top: 30px;
}

#originBank {
  font-size: 14px;
  margin-left: 210px;
  margin-top: -32px;
  position: absolute;
}

#receiverData {
  margin-top: 258px;
  margin-left: 15px;
  font-size: 16px;
  position: absolute;
  color: #2c053b;
  font-weight: bold;
}

.receiverBox {
  background-color: #eeeeee;
  color: #2c053b;
  position: relative;
  top: 83px;
  border: 2px solid #ce1051;
  border-radius: 16px;
  margin-left: 15px;
  margin-right: 15px;
  height: 200px;
}

#receiverName {
  font-size: 14px;
  margin-left: 15px;
  margin-top: 5px;
}

#receiverId {
  font-size: 14px;
  margin-left: 15px;
  margin-top: 30px;
}

#receiverValue {
  font-size: 14px;
  margin-left: 210px;
  margin-top: -33px;
  position: absolute;
}

#receiverBank {
  font-size: 14px;
  margin-left: 210px;
  margin-top: -82px;
  position: absolute;
}

#receiverMsg {
  font-size: 14px;
  margin-left: 15px;
  margin-top: 30px;
}

/*a*/
